h1 {
  font-size: 48px;
  width: 300px;
  color: green;
  margin: 0 auto;
  margin-top: 40px;
}
p {
  font-size: 20px;
  color: rgb(14, 87, 14);
  line-height: 160%;
  width: 800px;
  margin: 0 auto;
  margin-top: 44px;
}
